.list {
  display: flex;
  flex-direction: column;
  width: auto;
  max-width: 100%;
}

.recipes {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 2px solid gray;
  width: auto;
}

h2 {
  margin: 5px 0;
}

#source {
  margin-bottom: 10px;
}

img {
  max-width: 400px;
  border-radius: 5px;
  border: 5px solid coral;
  align-self: center;
}

.btn-group {
  width: 240px;
  margin: 10px auto;
}

.btn-group button {
  display: block;
  width: 240px;
  height: 30px;
  margin: 5px auto;
  color: white;
  background-color: coral;
  font-size: 11pt;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
}

@media only screen and (min-width: 768px) {
  .recipes {
    display: flex;
    flex-direction: row;
  }

  .label-source {
    flex-wrap: wrap;
    order: 2;
    margin-left: 15px;
  }

  img {
    order: 1;
  }

  .btn-group {
    order: 3;
    display: block;
    position: absolute;
    right: 25px;
    margin-top: 235px;
  }
}
