<app-navbar></app-navbar>
<!-- Kim start -->
<h1>My Favorite Recipes</h1>
<a id="return" routerLink="/recipes">Return to search results</a>
<div class="faves" *ngFor="let favorite of recipeService.favorites; let i = index;">
  <img [src]="favorite.image">
  <div class="info">
    <h2> {{ favorite.label }}</h2>
    <h3> Servings: {{ favorite.yield }} </h3>
    <p>  {{ (favorite.calories / favorite.yield) | number: '1.0-0'}} calories per serving</p>
    <div class="ingredients">
      <h3>What you'll need:</h3>
    <ul *ngFor="let ingredient of favorite.ingredients">
          <li>{{ ingredient.text }}</li>
  </ul>
  </div>
<!-- </div>
  <div class="info">
    <h2>{{ favorite.label }}</h2>
    <h3> Each serving has {{ (favorite.calories / favorite.yield) | number: '1.0-0'}} calories</h3>
    <p> Servings: {{ favorite.yield }}</p> -->
    <a id="view-recipe" target="_blank" [href]="favorite.url">View original recipe at {{ favorite.source }}</a>
    <div class="button">
    <div class="remove-button"><button id="remove_btn" (click)="removeFavorite(favorite)">REMOVE FROM FAVORITES</button></div>
  </div>
  </div>
</div>
<!-- Kim end -->