.faves {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 2px solid gray;
  width: auto;
}

a {
    margin-left: 25px;
}

img {
  max-width: 400px;
  border-radius: 5px;
  border: 5px solid coral;
  align-self: center;
  padding: 0;
}

.info {
  display: block;
  justify-content: left;
  /* margin-left: 10px; */
}

#remove_btn {
  display: block;
  width: 240px;
  height: 30px;
  margin-top: 25px;
  color: white;
  background-color: coral;
  font-size: 11pt;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
}

.button {
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 768px) {
  .faves {
    display: flex;
    flex-direction: row;
  }

  .info {
    flex-wrap: wrap;
    margin-left: 15px;
    margin-bottom: 25px;
  }
  
  img {
    align-self: flex-start;
    padding: 0;
  }

.button {
    order: 3;
    display: block;
    position: absolute;
    right: 25px;
    margin-top: -5px;
}

  #remove_btn {
    display: block;
    position: absolute;
    /* right: 250; */
    right: 0px;
    margin-top: -5px;
}

}
