.faves {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 2px solid gray;
  width: auto;
}

img {
  max-width: 400px;
  border-radius: 5px;
  border: 5px solid coral;
  align-self: center;
}

.info {
  display: block;
  justify-content: left;
  /* margin-left: 10px; */
}

#add_btn,
#remove_btn {
  display: block;
  width: 240px;
  height: 30px;
  margin-top: 25px;
  color: white;
  background-color: coral;
  font-size: 11pt;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
}

.button {
    display: flex;
    justify-content: center;
}

.remove-button {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  .faves {
    display: flex;
    flex-direction: row;
  }

  .info {
    flex-wrap: wrap;
    margin-left: 15px;
  }
  
  img {
    align-self: flex-start;
  }

}
