<app-navbar></app-navbar>
<!-- Kim start -->
<h1>My Favorite Recipes</h1>
<div *ngFor="let favorite of recipeService.favorites; let i = index;">
    <h2>{{ favorite.label }}</h2>
    <p>Source: {{ favorite.source }}</p>
    <!-- <button (click)="favorite(recipe)">Add to Favorites</button> -->
    <img [src]="favorite.image" />
    <button (click)="removeFavorite(favorite)">Remove from Favorites</button>
    <!-- <button (click)="selectRecipe(favorite)" routerLink="/details">View Details</button> -->
    <div><button (click)="selectRecipe(favorite)" routerLink="/details">View Details</button>
  </div>
  <!-- Kim end -->