header {
    background-color: coral;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 15px;
    align-items: center;
}

ul {
    list-style: none;
    text-align: right;
}