<div class="search-wrapper">

<div class="wrap">

    <div class="search">
       <input type="text" class="searchTerm" [(ngModel)]="searchTerm" placeholder="Search over 1M recipes">
       <button type="submit" class="searchButton" (click)="recipeService.getRecipes(searchTerm)" routerLink="/recipes">
         <i class="fa fa-search"></i>
      </button>
    </div>
</div>
</div>

 <!-- <div class="circles" >
   <body>
   <div id="circle-1" (click)="recipeService.getNutFree()">
      <img src="https://t4.ftcdn.net/jpg/00/56/20/01/240_F_56200156_JZU4QvFOU95TPRL1fevKp4o9gaLbV3We.jpg">
   </div>
   <input class="filter" type="text" name="filter" [(ngModel)]="filter" placeholder="Health Labels"/>
      <div *ngFor="let recipe of getFilteredResults(); index as i"> </div>
            <button class="button-1" (click)="getFilteredResults()" *ngIf="rceipe.labels="{gluten-free}></button>  -->
   <!-- <div id="circle-2">
      <img src="https://t3.ftcdn.net/jpg/00/91/04/98/240_F_91049813_nlhaQjEA578heH4mDcpyF3F8NGDWXIrA.jpg">
   </div>
   <div id="circle-3">
      <img src="https://t4.ftcdn.net/jpg/01/24/58/43/240_F_124584399_6UWJzGz5oQNDSHZrVePOSc6CN87YWmQT.jpg">
   </div>
   </body>
 </div> --> 

<div class="recipes" *ngFor="let recipe of recipeService.recipes">
    <h2>{{ recipe.recipe.label }}</h2>
    <p>Source: {{ recipe.recipe.source }}</p>
    <img [src]="recipe.recipe.image" />
</div> 
  
<div class="health">
    <h2 class="restriction-header">Have an allergy or health preference? We've got you covered!</h2>

 <div class="diet-restrictions">
   <div class="diet-circle">
      <img src="/assets/nut.png" (click)="recipeService.nutFree()" routerLink="/recipes">
   </div> 
   <div class="diet-circle">
     <img src="/assets/vegetarian.png" (click)="recipeService.noMeat()" routerLink="/recipes">
   </div>
   <div class="diet-circle">
     <img src="/assets/sugar.png" (click)="recipeService.lowSugar()" routerLink="/recipes">
   </div>
</div>

<div class="feeling-lucky">
   <h2 class="lucky-header">Feeling lucky? Click the button for a random recipe idea.</h2> <br>
   <button class="blue-button" (click)="recipeService.getRandom()" routerLink="/recipes">RUN THE RECIPE RANDOMIZER</button>
 </div>
</div>



  

  

