@import url(https://fonts.googleapis.com/css?family=Open+Sans);

h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#circle-1 { 
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: rgb(247, 136, 167, 0.6);
    position: relative;
    left: 500px;
    bottom: -200px;
    }

#circle-2 { 
        border-radius: 50%;
        width: 150px;
        height: 150px;
        background-color: rgb(247, 193, 162, 0.7);
        position: relative;
        left: 200px;
        bottom: -50px;
    }

#circle-3 { 
        border-radius: 500%;
        width: 150px;
        height: 150px;
        background-color: rgba(180, 21, 16, 0.6);
        position: relative;
        left: 800px;
        bottom: 100px;
    }

.recipes {
    padding: 1rem;
    margin: 1rem;
    border-radius: 3px;
    border: 2px solid gray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: black;
}

.detailedRecipe {
    background-color: red;
}