
.details-wrap {
    margin: 25px;
}

.details {
    display: flex;
    flex-direction: column;
}

img {
    align-self: center;
    border-radius: 5px;
    border: 5px solid coral;
    margin-top: 25px;
}

h3 {
    margin: 0;
}

.info {
    display: block;
    justify-content: left;
    margin: 5px 0;
}

.add-remove, .fave-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#add_btn, #remove_btn {
    display: block;
    width: 240px;
    height: 30px;
    margin-top: 25px;
    color: white;
    background-color: coral;
    font-size: 11pt;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
}

@media only screen and (min-width: 768px) {

    .details {
        display: flex;
        flex-direction: row;
    }

    img {
        justify-self: left;
        align-self: flex-start;
    }

    .info {
        margin: 5px 0 0 25px; 
    }

    .fave-buttons {
        display: block;
        position: absolute;
        left: 25px;
        top: 500px;
      }

}